:root {
    --colorbtn: #ffc04a;
    --radius: 10%;
    --shadow: 1px 1px 3px 1px rgb(212, 212, 212);
    --backgroundCard: white;
    
}

$background: "../img/background.jpg";
$mario: "../img/mario.gif";
$sonic: "../img/sonic2.gif";
$superSonic: "../img/sonic.gif";
$goku:"../img/goku.gif";
$dog_duck_hunt: "../img/duck-hunt-dog.gif";
$ground: "../img/ground.png";
$ground2: "../img/ground2.png";
$bushes: "../img/bushes.png";
$back: "../img/back.png";
$backWidth: 512px;
$backHeight: 432px;
$bushesWidth: 508px;
$bushesHeight: 79px;
$groundWidth: 68px;
$groundHeight: 22px;
$marioWidth: 30px;
$marioHeight: 54px;
$sonicWidth: 30px;
$sonicHeight: 25px;

html {
    box-sizing: border-box;
    font-family: 'roboto';
    background-image: url($background);
    background-size: contain;
    background-repeat: repeat;
    
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  *::first-letter {
    text-transform: capitalize;
  }

footer {
    margin-bottom:20px;
    color: white;
}


.paralax {
    height:400px;
    background-image: url($mario),url($sonic), url($ground), url($bushes), url($back);
    background-color: #f8e0b0;
    background-repeat: no-repeat, no-repeat, repeat-x, repeat-x, repeat-x;
    background-position: 
        left 30% bottom $groundHeight,
        left 0% bottom $groundHeight,
        left 0 bottom 0,
        left 0 bottom $groundHeight,
        left 0 bottom 0;
    animation: back 10s infinite linear;
}

@keyframes back {
    0% {
      background-position: 
        left 30% bottom $groundHeight,
        left -10% bottom $groundHeight, 
        left 0 bottom 0,
        left 0 bottom $groundHeight,
        left 0 bottom 0;
    }
    50% {
      background-position:
        left 50% bottom $groundHeight,
        left 60% bottom $groundHeight,
        left (-($groundWidth * 12)) bottom 0px,
        left (-($bushesWidth * 1)) bottom $groundHeight,
        left (-($backWidth *0.5)) bottom 0px;

    
    }
    100% {
      background-position:
        left 30% bottom $groundHeight,
        left 130% bottom $groundHeight,
        left (-($groundWidth * 24)) bottom 0px,
        left (-($bushesWidth * 2)) bottom $groundHeight,
        left (-$backWidth) bottom 0px;
    }
  }

nav {
    display: flex;
    height: max-content;
    background-color: transparent !important;
    box-shadow: none !important;
}

.sidenav {
    background-color: #f8e0b0;
}
#menuHeader{
    justify-content: space-between;
}
#divLogo {
    display: flex;
    align-items: flex-end;
    margin: 2%;
    width: 15%;
}

#logoSite {
    border-radius: var(--radius);
    width: 100%;
}
.menuBurger{
    display: flex;
    align-items: center;
    padding: 1%; }

#burgerBtn {
        border: none;
        background-color: transparent ;
    &>i {
        font-size: 3rem;
        color: var(--colorbtn);
        
        cursor: pointer;    
    }
}
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
    max-height: 0;
    overflow: hidden; /* Cache le contenu lorsque max-height est 0 */
    transition: max-height 1s ease-in-out;
    &>li{
        width: 35%;
        margin: 2%;
    }
}
ul.menu.openMenu {
    max-height: max-content; /* Ajustez la hauteur maximale en fonction du contenu */
    background-image: url($ground2);
    background-repeat:repeat;
    animation: backBurgerMenu 10s infinite linear;
    margin: 0;
}
@keyframes backBurgerMenu {
    0% {
      background-position: 
        left 0 bottom 0,
    }
    50% {
      background-position:
        left (-($groundWidth * 12)) bottom 0px,
    }
    100% {
      background-position:
        left (-($groundWidth * 24)) bottom 0px,
    }
  }
  
ul.menu.closeMenu {
    max-height: 0; /* Replie le menu */
    transition: max-height 0.5s ease-in-out; /* Le z-index change après 1s */
    background-image: url($ground2);
    background-repeat:repeat;
    animation: backBurgerMenu 10s infinite linear;
    margin: 0;
}

#suscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    background-color: #a0cdff;
    color: #000000;
    border: none;
    height: 20px;
    margin: 0.3rem;
}

#headerForm{
    display: flex;
    flex-wrap: wrap;
    &>form{
        margin: 0 1%;
    }
}

/*___________________________________________________________________________________________________________________________________________*/

main{
    padding: 2%;
    background: opacity(0.5);
}
form, input {
    color: white;
}
h1{
    font-size: 2rem; 
    color: white;
    text-align: center;
}
h2 {
    color: white;
    font-size: 1.5rem;
}
h4 {
    color: white;
    font-size: 1.5rem;
}
small {
    font-size: 0.85rem;
}

#marginTop{
    margin-top: 3%;
}
// #btnStyle2 {
//     height:auto;
//     padding: 0 1%;
//     border-radius: var(--radius);
//     box-shadow: var(--shadow);
//     background-color: var(--colorbtn);
//     text-align: center;
//     box-sizing: inherit;
//     cursor: pointer;
//     color: white;
// }
.btn#btnStyle3{
    padding: 0;
    
    &>i{
        font-size: 1.3rem;
    }
}


#cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#cardImg {
    width: 100%;
    padding-top: 3%;
}

a {
    color: rgb(0, 0, 0);
    font-style: none;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;  
    border: 1px solid black;
    align-items: center;
    padding: 1%;
    margin: 1% 0;
    background-color: url(.src/img/backgroung_card.jpg) !important ;
    
}

#addGame {
    display: flex;
    justify-content: center;
    &> form {
        width: 80%;
    }
}
.addGameForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &>input {
        padding: 1%;
        width: 70%;
    }
}
#pegi {
    width: 10%;
}


