@charset "UTF-8";
:root {
  --colorbtn: #ffc04a;
  --radius: 10%;
  --shadow: 1px 1px 3px 1px rgb(212, 212, 212);
  --backgroundCard: white;
}

html {
  box-sizing: border-box;
  font-family: "roboto";
  background-image: url("../img/background.jpg");
  background-size: contain;
  background-repeat: repeat;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::first-letter {
  text-transform: capitalize;
}

footer {
  margin-bottom: 20px;
  color: white;
}

.paralax {
  height: 400px;
  background-image: url("../img/mario.gif"), url("../img/sonic2.gif"), url("../img/ground.png"), url("../img/bushes.png"), url("../img/back.png");
  background-color: #f8e0b0;
  background-repeat: no-repeat, no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 22px, left 0% bottom 22px, left 0 bottom 0, left 0 bottom 22px, left 0 bottom 0;
  animation: back 10s infinite linear;
}

@keyframes back {
  0% {
    background-position: left 30% bottom 22px, left -10% bottom 22px, left 0 bottom 0, left 0 bottom 22px, left 0 bottom 0;
  }
  50% {
    background-position: left 50% bottom 22px, left 60% bottom 22px, left -816px bottom 0px, left -508px bottom 22px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 22px, left 130% bottom 22px, left -1632px bottom 0px, left -1016px bottom 22px, left -512px bottom 0px;
  }
}
nav {
  display: flex;
  height: max-content;
  background-color: transparent !important;
  box-shadow: none !important;
}

.sidenav {
  background-color: #f8e0b0;
}

#menuHeader {
  justify-content: space-between;
}

#divLogo {
  display: flex;
  align-items: flex-end;
  margin: 2%;
  width: 15%;
}

#logoSite {
  border-radius: var(--radius);
  width: 100%;
}

.menuBurger {
  display: flex;
  align-items: center;
  padding: 1%;
}

#burgerBtn {
  border: none;
  background-color: transparent;
}
#burgerBtn > i {
  font-size: 3rem;
  color: var(--colorbtn);
  cursor: pointer;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  text-align: center;
  max-height: 0;
  overflow: hidden; /* Cache le contenu lorsque max-height est 0 */
  transition: max-height 1s ease-in-out;
}
.menu > li {
  width: 35%;
  margin: 2%;
}

ul.menu.openMenu {
  max-height: max-content; /* Ajustez la hauteur maximale en fonction du contenu */
  background-image: url("../img/ground2.png");
  background-repeat: repeat;
  animation: backBurgerMenu 10s infinite linear;
  margin: 0;
}

@keyframes backBurgerMenu {
  0% {
    background-position: left 0 bottom 0;
  }
  50% {
    background-position: left -816px bottom 0px;
  }
  100% {
    background-position: left -1632px bottom 0px;
  }
}
ul.menu.closeMenu {
  max-height: 0; /* Replie le menu */
  transition: max-height 0.5s ease-in-out; /* Le z-index change après 1s */
  background-image: url("../img/ground2.png");
  background-repeat: repeat;
  animation: backBurgerMenu 10s infinite linear;
  margin: 0;
}

#suscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #a0cdff;
  color: #000000;
  border: none;
  height: 20px;
  margin: 0.3rem;
}

#headerForm {
  display: flex;
  flex-wrap: wrap;
}
#headerForm > form {
  margin: 0 1%;
}

/*___________________________________________________________________________________________________________________________________________*/
main {
  padding: 2%;
  background: opacity(0.5);
}

form, input {
  color: white;
}

h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5rem;
}

h4 {
  color: white;
  font-size: 1.5rem;
}

small {
  font-size: 0.85rem;
}

#marginTop {
  margin-top: 3%;
}

.btn#btnStyle3 {
  padding: 0;
}
.btn#btnStyle3 > i {
  font-size: 1.3rem;
}

#cardImg {
  width: 100%;
  padding-top: 3%;
}

a {
  color: rgb(0, 0, 0);
  font-style: none;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  padding: 1% !important;
  background: var(--backgroundCard);
}

#card_btnUser {
  width: 100%;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
}

#year_genre {
  display: flex;
  flex-direction: column;
}

#gameDescritpion > p {
  font-size: large;
}

#pegi {
  width: 50%;
}

#pegiImg {
  width: 15%;
}

/*formulaire comment actif ou non*/
#comment {
  max-height: 0;
  overflow: hidden; /* Cache le contenu lorsque max-height est 0 */
}
#comment > input {
  color: black;
}

form#comment.closeComment {
  max-height: 0; /* Replie le menu */
}

form#comment.openComment {
  max-height: max-content; /* Ajustez la hauteur maximale en fonction du contenu */
}

.btn#commentBtn, input#commentBtn {
  font-size: 10px;
}

#userComment {
  border: 1px solid black;
  margin: 5px 0;
  width: 100%;
}
#userComment > div {
  padding: 0 5px;
}
#userComment > div:first-child {
  width: 100%;
  background-color: rgb(179, 174, 174);
  margin: 0;
}

/*Annumation materialize*/
.row {
  margin-top: 10px;
}

.btn {
  background-color: var(--colorbtn) !important;
  padding: 0 10px;
}
.btn > i {
  font-size: 0.8rem;
}

button.datepicker-day-button {
  color: black !important;
}

div.datepicker-date-display {
  background-color: var(--colorbtn);
}

.input-field > label {
  color: white;
}

/*____________________________________________________________________*/
@media screen and (min-width: 600px) {
  #logoSite {
    width: 80%;
  }
  #pegi {
    width: 70%;
  }
}
/*____________________________________________________________________*/
@media screen and (min-width: 992px) {
  #logoSite {
    width: 60%;
  }
  #pegi {
    width: 80%;
  }
}
/*____________________________________________________________________*/
@media screen and (min-width: 1200px) {
  #logoSite {
    width: 45%;
  }
}

/*# sourceMappingURL=styles.css.map */
