@charset "UTF-8";
:root {
  --colorbtn: #ffc04a;
  --radius: 10%;
  --shadow: 1px 1px 3px 1px rgb(212, 212, 212);
}

html {
  box-sizing: border-box;
  font-family: "roboto";
  background: linear-gradient(#000000, rgb(39, 39, 39));
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::first-letter {
  text-transform: capitalize;
}

.paralax {
  height: 400px;
  background-image: url("../img/mario.gif"), url("../img/sonic2.gif"), url("../img/ground.png"), url("../img/bushes.png"), url("../img/back.png");
  background-color: #f8e0b0;
  background-repeat: no-repeat, no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 22px, left 0% bottom 22px, left 0 bottom 0, left 0 bottom 22px, left 0 bottom 0;
  animation: back 10s infinite linear;
}

@keyframes back {
  0% {
    background-position: left 30% bottom 22px, left -10% bottom 22px, left 0 bottom 0, left 0 bottom 22px, left 0 bottom 0;
  }
  50% {
    background-position: left 50% bottom 22px, left 60% bottom 22px, left -816px bottom 0px, left -508px bottom 22px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 22px, left 130% bottom 22px, left -1632px bottom 0px, left -1016px bottom 22px, left -512px bottom 0px;
  }
}
nav {
  display: flex;
  height: max-content;
  background-color: transparent !important;
  box-shadow: none !important;
}

.sidenav {
  background-color: #f8e0b0;
}

#menuHeader {
  justify-content: space-between;
}

#divLogo {
  display: flex;
  align-items: flex-end;
  margin: 2%;
  width: 15%;
}

#logoSite {
  border-radius: var(--radius);
  width: 100%;
}

.menuBurger {
  display: flex;
  align-items: center;
  padding: 1%;
}

#burgerBtn {
  border: none;
  background-color: transparent;
}
#burgerBtn > i {
  font-size: 3rem;
  color: var(--colorbtn);
  cursor: pointer;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  text-align: center;
  max-height: 0;
  overflow: hidden; /* Cache le contenu lorsque max-height est 0 */
  transition: max-height 1s ease-in-out;
}
.menu > li {
  width: 20%;
  margin: 2%;
}

ul.menu.openMenu {
  max-height: max-content; /* Ajustez la hauteur maximale en fonction du contenu */
  background-image: url("../img/ground2.png");
  background-repeat: repeat;
  animation: backBurgerMenu 10s infinite linear;
  margin: 0;
}

@keyframes backBurgerMenu {
  0% {
    background-position: left 0 bottom 0;
  }
  50% {
    background-position: left -816px bottom 0px;
  }
  100% {
    background-position: left -1632px bottom 0px;
  }
}
ul.menu.closeMenu {
  max-height: 0; /* Replie le menu */
  transition: max-height 0.5s ease-in-out; /* Le z-index change après 1s */
  background-image: url("../img/ground2.png");
  background-repeat: repeat;
  animation: backBurgerMenu 10s infinite linear;
  margin: 0;
}

#suscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #a0cdff;
  color: #000000;
  border: none;
  height: 20px;
  margin: 0.3rem;
}

#headerForm {
  display: flex;
  flex-wrap: wrap;
}
#headerForm > form {
  margin: 0 1%;
}

/*___________________________________________________________________________________________________________________________________________*/
main {
  padding: 2%;
  background: linear-gradient(#000000, rgb(39, 39, 39));
}

h1 {
  font-size: 2rem;
  color: white;
}

h4 {
  color: white;
  font-size: 1rem;
}

#btnStyle1 {
  height: auto;
  padding: 5%;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background-color: var(--colorbtn);
  text-align: center;
  box-sizing: inherit;
  cursor: pointer;
}

#btnStyle2 {
  height: auto;
  padding: 0 1%;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background-color: var(--colorbtn);
  text-align: center;
  box-sizing: inherit;
  cursor: pointer;
}

img {
  width: 100%;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: black;
  font-style: none;
  text-decoration: none;
}
a:hover {
  background-color: #a0cdff;
}

.card {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid black;
  align-items: center;
  padding: 1%;
  margin: 1% 0;
  background-color: url(.src/img/backgroung_card.jpg) !important;
}

#addGame {
  display: flex;
  justify-content: center;
}
#addGame > form {
  width: 80%;
}

.addGameForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.addGameForm > input {
  padding: 1%;
  width: 70%;
}

#pegi {
  width: 10%;
}

/*# sourceMappingURL=styles.css.map */
